.container {
  position: relative;
  width: 480px;
  height: 640px;
  overflow: hidden;
  background: black;
}

.webcam-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.gear-icon {
  font-size: 10vw;
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  color: gray;
  padding: 10px;
  pointer-events: auto;
  cursor: pointer;
}



.control-icon {

  font-size: 10vw;

  position: fixed;

  z-index: 100;

  top: 20px;

  left: 20px;

  color: gray;

  padding: 10px;

  pointer-events: auto;

  cursor: pointer;

}



.moving-too-fast {

  border: 5px solid red;

  box-sizing: border-box;

}
